/* Custom */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow-icons: #FFC600;
  --special-green: #91c92f;
  --special-fill: #f7e296;
  --status-fill: #f6dada;
  --special-black-price-toggle: rgba(0, 0, 0, 0.18);
  --special-black-page-modal: rgba(0, 0, 0, 0.15);
  --special-dark: rgba(0, 0, 0, 0.6);
  --special-black-popup: rgba(0, 0, 0, 0.4);
  --special-dark-light: rgba(0, 0, 0, 0.3);
  --special-dark-lightest: rgba(0, 0, 0, 0.1);
  --special-white: rgba(255, 255, 255, 0.7);
  --special-white-light: rgba(255, 255, 255, 0.6);
  --special-white-lighter: rgba(255, 255, 255, 0.3);
  --special-white-lightest: rgba(255, 255, 255, 0.1);
  --special-grey-dark: #DCDCDC;
  --special-grey-light: #EBEBEB;
  --special-grey-pin: #C4C4C4;
  --special-grey-pagination: #D9D9D9;
  --special-grey-popup: #F2F2F2;
  --special-grey-popup-light: #F2F2F2;
  --special-grey-popup-dark: #EAEAEA;
  --basic-font: "Open Sans", "Arial", sans-serif;
  --bold-font: "Gilroy", "Arial", sans-serif;
}

/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

/* Common */

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  width: 260px;
  padding: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--bold-font);
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-image: linear-gradient(var(--special-yellow-dark), var(--special-yellow-dark));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 8px;
}

.button:hover, .button:focus {
  background-color: var(--special-yellow-dark);
}

.button:active span {
  opacity: 0.3;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  min-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Header */

.main-header {
  background-color: var(--special-fill);
}

a.main-header-logo-link {
  display: block;
  margin-left: 60px;
  margin-top: 20px;
  padding: 0px 0px 25px 0px;
  height: 35px;
  width: 163px;
}

.main-header-logo-wrapper {
  background-image: linear-gradient(to top, var(--special-fill) 50%, var(--basic-white) 50%);
}

.user-nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -20px;
  margin-left: 60px;
}

.option-header-login {
  padding-left: 125px;
}

.option-header-compare {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 238px;
  width: 216px;
}

.search-form {
  position: relative;
  display: flex;
  width: 440px;
  min-height: 50px;
}

.search-form-label::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form-input {
  min-width: 355px;
  margin: 0;
  padding: 0px 0px 0px 38px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--basic-font);
  background-color: var(--special-yellow);
  border: none;
  border-radius: 0;
}

.search-form-input::placeholder {
  color: var(--special-dark-light);
}

.search-form-input:hover::placeholder {
  color: var(--special-dark);
}

.search-form-input:focus::placeholder {
  color: var(--basic-black);
}

.search-form-button {
  position: relative;
  z-index: -1;
  display: block;
  padding: 14px;
  text-transform: uppercase;
  background-color: inherit;
  border: 2px solid var(--basic-black);
  border-radius: 0;
}

.search-form-button:focus, .search-form-input:focus~.search-form-button {
  z-index: 0;
}

.search-form-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form-button:active .search-form-search-text {
  opacity: 0.3;
}

.search-form-input:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 var(--basic-black);
}

a.nav-menu-link {
  margin-right: 0px;
  position: relative;
}

.decor-login::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 54px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.decor-catalog-login::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 140px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.decor-compare::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 86px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-chart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.decor-catalog-compare::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 86px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-chart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.decor-cart {
  padding-right: 7px;
}

.decor-cart::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 95px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.decor-catalog-cart::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 82px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.option-header-out-catalog {
  opacity: 0.3;
  padding-left: 18px;
}

.option-header-login-catalog {
  padding-left: 125px;
}

.option-header-compare-catalog {
  display: flex;
  justify-content: space-between;
  padding-left: 86px;
  margin-top: -1px;
  padding-top: 0px;
  width: 208px;
}

.main-catalog-nav {
  margin-bottom: 35px;
}

ul.nav-list {
  width: 1067px;
  margin-left: 50px;
  margin-bottom: 3px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 13px 0px 0px 60px;
  padding: 0;
  list-style: none;
}

.nav-list-item {
  padding: 14px 15px 15px 20px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--bold-font);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.nav-list-item:last-of-type {
  margin-left: 70px;
}

.nav-list-item:hover>a {
  opacity: 0.6;
}

.nav-list-item:active>a {
  opacity: 0.3;
}

.nav-list-item-open {
  position: relative;
  margin-right: auto;
  padding-right: 54px;
  padding-left: 10px;
  letter-spacing: 0.1em;
}

.nav-list-item-open::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 17px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.nav-list-sub-list {
  position: absolute;
  top: 47px;
  left: -50px;
  z-index: 1;
  display: grid;
  min-height: 98px;
  width: 1040px;
  margin: 0;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 35px;
  padding-left: 60px;
  list-style: none;
  background-color: var(--special-fill);
  grid-column-gap: 65px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
}

.nav-list-sub-item {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--basic-font);
  text-transform: none;
  letter-spacing: normal;
}

.nav-list-sub-item:last-of-type {
  grid-row: 3/4;
}

.nav-list-sub-item:hover>a {
  opacity: 0.6;
}

.nav-list-sub-item:active>a {
  opacity: 0.3;
}

.nav-list-wrapper {
  display: none;
}

.nav-list-item-open:hover>.nav-list-wrapper, .nav-list-item-open:focus-within>.nav-list-wrapper {
  display: block;
}

.nav-menu-link {
  padding: 25px 0;
  margin-right: 35px;
  width: 75px;
  height: 17px;
}

.main-submenu {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 163px;
  text-align: right;
}

.main-submenu-link {
  padding: 20px 0;
  margin-left: 35px;
  width: 20px;
  height: 17px;
}

.main-header-logo-link {
  padding: 25px 0 20px;
  margin: auto;
  width: 163px;
  height: 35px;
  display: block;
}

.main-header-logo-link {
  width: 163px;
  height: 35px;
}

.main-header-logo-link:hover {
  opacity: 0.6;
}

.main-header-logo-link:active {
  opacity: 0.3;
}

.nav-search, .nav-menu-link-out {
  color: var(--basic-half-grey);
}

.nav-search-button {
  text-transform: uppercase;
  color: var(--basic-black);
}

.nav-menu-link, .main-submenu-link {
  color: var(--basic-black);
}

.nav-menu-link:hover, .main-submenu-link:hover {
  opacity: 0.6;
}

.nav-menu-link:active, .main-submenu-link:active {
  opacity: 0.3;
}

.nav-menu {
  list-style: none;
}

.main-menu-link {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-menu-link:hover {
  opacity: 0.6;
}

.main-menu-link:active {
  opacity: 0.3;
}

.main-menu, .main-submenu {
  list-style: none;
  color: var(--basic-black);
}

.header-services-link {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.header-services-link:hover {
  opacity: 0.6;
}

.header-services-link:active {
  opacity: 0.3;
}

/* Slider */

.main-slider {
  position: relative;
  z-index: 0;
  margin-bottom: 65px;
  background-image: linear-gradient(to bottom, var(--special-fill), var(--special-fill) 146px, var(--basic-white) 130px);
}

.slider-number {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-bottom: -146px;
  margin-left: 458px;
  margin-right: -4px;
}

p.slider-slogan {
  position: relative;
}

.slider-slogan::before {
  content: "";
  position: absolute;
  bottom: 168px;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.slider-slogan {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
  padding-top: 38px;
}

.slider-content {
  padding-top: 26px;
}

.slider-link {
  padding-left: 2px;
  padding-right: 0px;
  margin-top: 49px;
}

.slider-link:active {
  opacity: 0.3;
}

.slider-features {
  margin-top: 48px;
  margin-left: 125px;
}

.slider-features-upper-row {
  display: flex;
  justify-content: space-between;
  width: 448px;
  padding: 0px;
}

.slider-features-down-row {
  display: flex;
  justify-content: space-between;
  width: 373px;
  margin-top: -2px;
  padding: 0px;
}

.slider-features-value {
  font-family: var(--bold-font);
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.slider-features-data {
  font-family: var(--bold-font);
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-container {
  position: relative;
  display: none;
}

.slider-container-current {
  display: block;
}

.slider-controls {
  position: absolute;
  right: 88px;
  bottom: 139px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 72px;
  margin: 0;
  padding: 0;
}

.slider-button {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.slider-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--basic-black);
}

.slider-section {
  display: grid;
  width: 1110px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "img number" "img slogan" "img content-a" "img button" "img table-a";
}

.option-one-img {
  grid-area: img;
  margin-top: 17px;
  margin-bottom: 3px;
  margin-left: 89px;
  width: 384px;
}

.option-one-number {
  grid-area: number;
  max-width: 182px;
}

.option-one-slogan {
  grid-area: slogan;
  margin: 0;
  max-width: 390px;
  margin-left: 127px;
}

.option-one-content-a {
  grid-area: content-a;
  margin: 0;
  max-width: 478px;
  margin-left: 127px;
}

.option-one-button {
  grid-area: button;
  max-width: 220px;
  margin-left: 127px;
}

.option-one-table-a {
  grid-area: table-a;
}

td.slider-features-data {
  padding: 0px;
  padding-top: 15px;
}

.option-two-img {
  grid-area: img;
  margin-top: 43px;
  margin-left: 116px;
  margin-bottom: -22px;
  width: 345px;
}

span.option-two-number {
  margin-right: 4px;
}

.option-two-number {
  grid-area: number;
  margin: 0px;
  max-width: 212px;
  margin-bottom: -146px;
  margin-left: 440px
}

/* p.option-two-slogan {
  margin-left: 157px;
} */

.option-two-slogan {
  grid-area: slogan;
  margin: 0;
  max-width: 390px;
  margin-left: 139px;
}

/* p.option-two-content-a {
  margin-left: 157px;
} */

.option-two-content-a {
  grid-area: content-a;
  margin: 0;
  max-width: 450px;
  margin-left: 139px;
}

/* a.option-two-button {
  margin-left: 157px;
} */

.option-two-button {
  grid-area: button;
  max-width: 220px;
  margin-left: 139px;
  /* max-height: 20px; */
}

table.option-two-table-a {
  margin-top: 50px;
  margin-left: 139px;
}

.option-two-table-a {
  grid-area: table-a;
}

.option-three-img {
  grid-area: img;
  margin-top: 99px;
  margin-left: 30px;
  margin-bottom: 73px;
  max-width: 526px;
}

span.option-three-number {
  margin-left: 340px;
}

.option-three-number {
  grid-area: number;
  margin: 0px;
  max-width: 212px;
  margin-bottom: -142px;
  margin-left: 345px
}

p.option-three-slogan {
  margin-left: 38px;
}

.option-three-slogan {
  grid-area: slogan;
  margin: 0;
  max-width: 500px;
  margin-left: 44px;
}

p.option-three-content-a {
  margin-left: 38px;
}

.option-three-content-a {
  grid-area: content-a;
  margin: 0;
  max-width: 470px;
  margin-left: 44px;
}

a.option-three-button {
  margin-left: 38px;
}

.option-three-button {
  grid-area: button;
  max-width: 220px;
  margin-left: 44px;
}

table.option-three-table-a {
  margin-bottom: -3px;
  margin-left: 38px;
  width: 325px;
}

.option-three-table-a {
  grid-area: table-a;
}

/* Popular */

.main-info-title, .main-contacts-title {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.main-info-text, .main-contacts-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

.transport-company {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

.main-popular-item-link {
  display: block;
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.main-popular-item-link:hover .popular-image, .main-popular-item-link:focus .popular-image {
  background-color: var(--special-yellow-dark);
}

.main-popular-item-link:active .popular-title {
  opacity: 0.3;
}

.popular-image-inner:active {
  opacity: 0.3;
}

.main-popular {
  margin-top: 115px;
}

.main-popular-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column-gap: 40px;
  grid-template-columns: repeat(6, 1fr);
}

.popular-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  background-color: var(--special-fill);
}

.virt-rel-inner {
  padding-bottom: 3px;
}

.monopod-inner {
  padding-top: 4px;
}

.action-cam-inner {
  padding-bottom: 3px;
}

.popular-title {
  max-width: 160px;
}

.popular-title-fitness {
  letter-spacing: normal;
}

/* Services */

.main-services {
  height: 403px;
  background-image: linear-gradient(to top, var(--basic-grey-light) 0px, var(--basic-grey-light) 288px, var(--basic-white) 288px, var(--basic-white) 403px);
}

.main-services-title {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.main-services-buttons {
  position: relative;
  list-style: none;
}

.main-services-buttons::before {
  content: "";
  position: absolute;
  top: -79px;
  right: -4px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.main-services-buttons-item {
  position: relative;
  width: 160px;
  background-color: transparent;
  border: none;
}

.btn-current, .main-services-buttons-item:active {
  color: var(--special-fill);
  background-color: var(--basic-black);
  background-image: none;
}

.btn-current::before, .main-services-buttons-item:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 120px;
  height: 100%;
  background-color: var(--basic-black);
}

.btn-current:hover {
  background-color: var(--basic-black);
}

.btn-current:focus {
  background-color: var(--basic-black);
  outline: 3px solid var(--special-fill);
}

.btn-current:focus::before {
  box-shadow: 0 3px 0 0 var(--special-fill), 0 -3px 0 0 var(--special-fill);
}

.option-services {
  display: grid;
  grid-gap: 90px;
  padding: 0px;
  margin-top: 49px;
  grid-template-columns: 280px 760px;
}

.option-services-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  height: 164px;
  margin: 95px 0px 0px 0px;
}

.option-section-title {
  margin: 0px 0px 25px 0px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-container {
  position: relative;
  display: none;
  padding: 87px 190px 0px 30px;
}

.services-container::after {
  content: "";
  position: absolute;
  top: 54px;
  right: -50px;
  width: 200px;
  height: 220px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services-container:nth-of-type(1)::after {
  background-image: url("../img/delivery.svg");
  background-position: 65% 60%;
}

.services-container:nth-of-type(2)::after {
  background-image: url("../img/warranty.svg");
  background-position: 87% 57%;
}

.services-container:nth-of-type(3)::after {
  background-image: url("../img/credit.svg");
  background-position: 37% 31%;
}

.services-container-current {
  display: block;
}

.main-services-content {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  margin: 40px auto;
}

.main-services-buttons-item, .filter-buttons-item {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Logotypes */

.main-logotypes {
  margin-top: 90px;
}

.logos-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}

.logos-item {
  position: relative;
  width: 260px;
  height: 100px;
  overflow: hidden;
}

.logos-image {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-dji:hover {
  background-image: url("../img/logo-dji-color.png");
}

.logo-spgadgets:hover {
  background-image: url("../img/logo-sp-gadgets-color.png");
}

.logo-gopro:hover {
  background-image: url("../img/logo-gopro-color.png");
}

.logo-vive:hover {
  background-image: url("../img/logo-vive-color.png");
}

/* About company */

.option-company {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 137px;
  margin-bottom: 60px;
}

.option-about-company {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "title" "content-a" "content-b" "list" "button";
  width: 473px;
}

.option-about-company-title {
  grid-area: title;
  margin-top: 12px;
  margin-bottom: 25px;
}

h2.option-about-company-title {
  position: relative;
}

.option-about-company-title::before {
  content: "";
  position: absolute;
  bottom: 108px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.option-about-company-content-a {
  grid-area: content-a;
  margin-top: 15px;
  margin-bottom: 15px;
}

.option-about-company-content-b {
  grid-area: content-b;
  margin-top: 25px;
  margin-bottom: 15px;
}

.transport-company li {
  position: relative;
}

.transport-company li:before {
  content: "";
  position: absolute;
  top: 9px;
  bottom: 0px;
  left: -32px;
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
}

ul.transport-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 113px;
}

.option-about-company-list {
  grid-area: list;
  padding-left: 32px;
  margin-top: 45px
}

.option-about-company-button {
  grid-area: button;
  padding-left: 3px;
  padding-right: 1px;
  height: 30px;
  margin-top: 52px;
  margin-bottom: 15px;
  height: 22px;
}

a.option-about-company-button {
  position: relative;
}

.option-contacts-company {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "title" "content-a" "img" "button";
  margin-left: 127px;
  width: 560px;
}

.option-contacts-company-title {
  grid-area: title;
  margin-top: 12px;
  margin-bottom: 25px;
}

h2.option-contacts-company-title {
  position: relative;
}

.option-contacts-company-title::before {
  content: "";
  position: absolute;
  bottom: 123px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.option-contacts-company-content-a {
  grid-area: content-a;
  margin-top: 0px;
  margin-bottom: 25px;
}

.option-contacts-company-img {
  grid-area: img;
  margin-top: 0px;
  margin-bottom: 40px;
}

.option-contacts-company-button {
  grid-area: button;
  margin-top: 15px;
  padding-left: 2px;
  padding-right: 1px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 22px;
}

a.option-contacts-company-button {
  position: relative;
}

/* Breadcrumbs */

.page-title {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
  margin-left: 60px;
  margin-top: 44px;
  margin-bottom: 30px;
}

ul.breadcrumbs-menu-list {
  padding: 0px;
  margin: 0px 0px 50px 60px;
}

.breadcrumbs-menu-list {
  display: inline-flex;
  width: 385px;
  justify-content: space-between;
  list-style: none;
}

.breadcrumbs-menu-link, .breadcrumbs-menu-link-catalog, .breadcrumbs-menu-item {
  position: relative;
}

.breadcrumbs-menu-link::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -25px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon-arrow-nav.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-menu-link-catalog::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -29px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon-arrow-nav.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-menu-link, .breadcrumbs-menu-link-catalog, .breadcrumbs-menu-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--special-dark-light);
  list-style: none;
}

.breadcrumbs-menu-item {
  padding-top: 1px;
}

.breadcrumbs-menu-link-catalog:hover {
  color: var(--special-dark);
}

.breadcrumbs-menu-link-catalog:active {
  color: var(--special-dark-lightest);
}

/* Catalog main */

.catalog-wrapper {
  display: flex;
  width: 100%;
}

.catalog-left-side-wrapper, .catalog-right-side-wrapper {
  flex-grow: 1;
}

.catalog-form-header-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: var(--special-grey-dark);
}

.catalog-form-header {
  min-height: 70px;
}

.option-catalog-filter-title {
  padding-right: 191px;
  padding-top: 25px;
  margin: 0px;
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter {
  position: relative;
  min-width: 200px;
  padding-top: 86px;
  padding-right: 68px;
  padding-left: 60px;
}

.filter-field {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-field-price {
  margin-bottom: 54px;
}

.filter-field-color {
  margin-bottom: 53px;
}

.filter-field-bluetooth {
  margin-bottom: 40px;
}

.filter-wrapper {
  position: relative;
}

.filter-wrapper::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--basic-black);
}

.filter-legend {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  font-family: var(--bold-font);
  color: var(--basic-black);
  letter-spacing: 0.1em;
}

.filter-list {
  display: grid;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  grid-row-gap: 15px;
}

.filter-list-bluetooth {
  grid-row-gap: 16px;
}

.filter-item {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--basic-font);
  color: var(--basic-black);
}

.price {
  width: 200px;
  margin-top: 19px;
}

.price-controls {
  position: relative;
  margin-bottom: 15px;
  padding-top: 20px;
}

.price-scale {
  height: 2px;
  background-color: var(--basic-black);
  opacity: 0.2;
}

.price-bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: var(--special-green);
}

.price-toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--special-grey-pin);
  border-width: 8px;
  border-style: solid;
  border-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 2px var(--special-black-price-toggle);
  cursor: pointer;
}

.price-toggle-min {
  left: 0;
}

.price-toggle-max {
  left: 114px;
}

.price-value {
  display: flex;
}

.price-label {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--bold-font);
  color: var(--basic-black);
}

.price-label-min {
  margin-right: 18px;
}

.price-input {
  width: 60px;
  padding-left: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--bold-font);
  background-color: inherit;
  border: none;
  -moz-appearance: textfield;
}

.filter-label {
  display: grid;
  align-items: center;
  grid-column-gap: 18px;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
}

.filter-checkbox {
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.filter-input:checked~.filter-label .filter-checkbox {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input:focus~.filter-label .filter-checkbox, .filter-input:focus~.filter-label .filter-radio, .filter-checkbox:hover, .filter-radio:hover {
  opacity: 0.6;
}

.filter-checkbox:active, .filter-raido:active {
  opacity: 1;
}

.filter-input:disabled~.filter-label {
  opacity: 0.25;
}

.filter-radio {
  width: 24px;
  height: 24px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.filter-input:checked~.filter-label .filter-radio {
  background-image: url("../img/radio-on.svg");
}

.filter-button {
  width: 100%;
  padding-left: 37px;
  text-align: left;
  border: none;
  background-color: inherit;
}

.catalog-form-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: var(--basic-grey-light);
  height: 100%;
}

.option-catalog-form {
  max-width: 200px;
  padding-right: 68px;
  padding-left: 60px;
  padding-top: 70px;
}

.catalog-content-header-wrapper {
  display: flex;
  background-color: var(--basic-grey-light);
}

.catalog-content-header {
  display: flex;
  width: 832px;
  min-height: 70px;
}

.option-catalog-sorting-title {
  margin: 0px;
  padding: 25px 0px 25px 72px;
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-content-wrapper {
  width: 832px;
  margin: 0px;
  background-color: var(--basic-white);
}

.catalog-content {
  display: grid;
  margin-top: 70px;
  margin-left: 72px;
  padding: 0;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(2, 360px);
}

.goods-item {
  position: relative;
  width: 360px;
}

.goods-item:hover .goods-picture {
  opacity: 0.7;
}

.goods-picture {
  display: block;
  margin-bottom: 30px;
  line-height: 0;
}

.goods-item-new::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 27px;
  width: 62px;
  height: 62px;
  background-image: url("../img/goods-new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.goods-actions {
  position: absolute;
  top: 40%;
  left: 50%;
  display: none;
  flex-direction: column;
  transform: translateX(-51%) translateY(-21%);
}

.goods-item:hover .goods-actions, .goods-item:focus-within .goods-actions {
  display: flex;
}

.goods-button {
  width: 200px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
}

.goods-compare {
  font-style: normal;
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--basic-font);
  color: var(--basic-black);
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.goods-compare:hover {
  opacity: 1;
}

.goods-compare:active {
  opacity: 0.2;
}

ul.goods-sorting {
  padding: 0px;
  margin-left: 74px;
}

.goods-sorting {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 289px;
  list-style: none;
}

.goods-sorting-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.goods-sorting-link-active {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.goods-sorting-link-active:hover {
  opacity: 0.6;
}

.goods-sorting-link-active:active {
  opacity: 0.3;
}

.goods-sorting-value {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 52px;
  margin: 0px 0px 0px 219px;
  padding: 0;
  list-style: none;
  position: relative;
}

.sort-up {
  content: "";
  position: absolute;
  top: 26px;
  right: 34px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sort-down {
  content: "";
  position: absolute;
  top: 26px;
  right: 0px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

ul.goods-sorting-value {
  position: relative;
}

.goods-sorting-value-link:hover {
  opacity: 0.4;
}

.goods-sorting-value-link:active {
  opacity: 1;
}

a.goods-card-link {
  width: 274px;
}

span.goods-card-content-price {
  margin-left: 5px;
  margin-right: auto;
}

.goods-card-name {
  margin-bottom: 8px;
  width: 400px;
}

.goods-card-link {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: start;
  flex-direction: row;
  min-height: 44px;
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.goods-card-content-price {
  font-family: var(--bold-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.goods-card-link-cart {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.goods-card-link-cart:active {
  opacity: 0.3;
}

.goods-card-link-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
}

.goods-card-link-compare:hover {
  opacity: 1;
}

.goods-card-link-compare:active {
  opacity: 0.2;
}

.goods-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 70px;
  margin-top: 31px;
  margin-left: 72px;
  margin-bottom: 79px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--bold-font);
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: var(--special-grey-light);
}

.goods-paginator-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  min-width: 120px;
}

.goods-paginator-button-prev {
  margin-right: auto;
}

.goods-paginator-button-next {
  margin-left: auto;
}

.goods-paginator-button:focus, .goods-paginator-button:hover {
  background-color: var(--special-grey-pagination);
}

.goods-paginator-button:active {
  opacity: 0.3;
}

.goods-paginator-link {
  padding-right: 15px;
  padding-left: 15px;
  opacity: 0.3;
}

.goods-paginator-link-current {
  opacity: 1;
}

.goods-paginator-link:hover {
  opacity: 0.6;
}

.goods-paginator-link:active {
  opacity: 1;
}

/* Footer */

.main-footer {
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.option-footer-nav {
  display: flex;
  max-width: 100%;
  align-items: center;
  margin-top: 47px;
  margin-bottom: -2px;
}

a.footer-user-enter {
  position: relative;
}

.decor-footer-login::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 54px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-user-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.decor-footer-login:hover::before {
  opacity: 0.6;
}

.decor-footer-login:active::before {
  opacity: 0.3;
}

.decor-footer-login-special::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -26px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-user-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.option-footer-login {
  padding-left: 860px;
}

a.option-footer-out-catalog {
  padding-left: 20px;
}

.option-footer-compare {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  width: 192px;
}

.option-footer-login-catalog {
  padding-left: 706px;
}

.option-footer-compare-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  width: 192px;
}

a.footer-user-compare {
  position: relative;
}

.decor-footer-compare::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 79px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-chart-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.decor-footer-compare:hover::before {
  opacity: 0.6;
}

.decor-footer-compare:active::before {
  opacity: 0.3;
}

a.footer-user-cart {
  position: relative;
}

.decor-footer-cart::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 71px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-cart-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.decor-footer-cart:hover::before {
  opacity: 0.6;
}

.decor-footer-cart:active::before {
  opacity: 0.3;
}

a.main-footer-logo-link {
  width: 163px;
  display: flex;
}

.main-menu-container {
  display: flex;
  padding-top: 25px;
  max-width: 100%;
}

.option-footer-place {
  padding: 0px;
}

p.footer-content {
  position: relative;
}

.option-footer-place::before {
  content: "";
  position: absolute;
  top: 100px;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-icons);
}

.option-footer-services {
  display: flex;
  justify-content: space-between;
  width: 425px;
  padding-left: 166px;
  margin-top: 13px;
}

.option-telephone {
  margin-left: auto;
  padding: 0px;
}

.main-footer-logo-link:hover {
  opacity: 0.6;
}

.main-footer-logo-link:active {
  opacity: 0.3;
}

.footer-user-enter {
  color: var(--special-white);
}

.footer-user-enter:hover {
  color: var(--basic-white);
}

.footer-user-enter:active {
  color: var(--special-white-lighter);
}

.footer-user-compare {
  color: var(--special-white);
}

.footer-user-compare:hover {
  color: var(--basic-white);
}

.footer-user-compare:active {
  color: var(--special-white-lighter);
}

.footer-user-cart {
  color: var(--special-white);
}

.footer-user-cart:hover {
  color: var(--basic-white);
}

.footer-user-cart:active {
  color: var(--special-white-lighter);
}

.footer-user-out {
  color: var(--special-white);
}

.footer-user-out:hover {
  color: var(--basic-white);
}

.footer-user-out:active {
  color: var(--special-white-lighter);
}

.footer-services-link {
  font-family: var(--bold-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-services-link:hover {
  opacity: 0.6;
}

.footer-services-link:active {
  opacity: 0.3;
}

.logo-html-link:hover {
  opacity: 0.6;
}

.logo-html-link:active {
  opacity: 0.3;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 136px;
  margin-top: 36px;
  margin-left: 497px;
  padding: 15px;
  list-style: none;
}

.socials-link:hover path {
  fill-opacity: 0.6;
}

.socials-link:active path {
  fill-opacity: 0.1;
}

.footer-socials {
  display: flex;
  margin-bottom: 32px;
}

.logo-html-link {
  padding: 0px;
  height: 34px;
  margin: 50px 0px 0px 470px;
}

/* Modal */

.page-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0 10px 16px var(--special-black-page-modal);
  transform: translateX(-50%) translateY(-50%);
}

.modal-show {
  display: block;
  -webkit-animation: 0.7s showup ease-in;
  animation: 0.7s showup ease-in;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-button {
  position: absolute;
  top: 20px;
  right: 19px;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  background-image: url("../img/modal-button-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
}

.modal-button:focus, .modal-button:hover {
  opacity: 1;
}

.modal-button:focus {
  outline: none;
  box-shadow: 0 0 2px 2px var(--basic-black);
}

.modal-button:active {
  opacity: 0.3;
}

/* Modal map */

.modal-map {
  width: 960px;
}

.modal-map-iframe {
  display: block;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map-close {
  z-index: 3;
}

/* Modal write us */

.writeus {
  width: 760px;
  padding-top: 92px;
  padding-right: 100px;
  padding-bottom: 60px;
  padding-left: 100px;
}

.writeus-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.writeus-container {
  display: grid;
  width: 360px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  grid-row-gap: 10px;
}

.writeus-container-full {
  width: 100%;
  margin-bottom: 45px;
}

.writeus-label {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--bold-font);
  color: var(--basic-black);
}

.writeus-input {
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--basic-font);
  color: var(--basic-dark);
  background-color: var(--special-grey-popup-light);
  border: none;
  resize: none;
}

textarea.writeus-input-textarea {
  height: 135px;
}

.writeus-input::-webkit-input-placeholder {
  color: var(--special-black-popup);
}

.writeus-input::-moz-placeholder {
  color: var(--special-black-popup);
}

.writeus-input::placeholder {
  color: var(--special-black-popup);
}

.writeus-input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--special-fill);
}

.writeus-input:hover {
  background-color: var(--special-grey-popup-dark);
}

.writeus-input:invalid {
  background-color: var(--status-fill);
  outline: none;
}

.writeus-button {
  width: 200px;
  background-color: inherit;
  border: none;
}

/* Keyfraymes */

@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(-50%) translateY(-50%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-52%) translateY(-50%);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-48%) translateY(-50%);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(-50%) translateY(-50%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-52%) translateY(-50%);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-48%) translateY(-50%);
  }
}

@-webkit-keyframes showup {
  0% {
    left: 100%;
    transform: translateX(10%) translateY(-50%);
  }
  60%, 80% {
    left: 48%;
    transform: translateX(-50%) translateY(-50%);
  }
  70%, 90% {
    left: 52%;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes showup {
  0% {
    left: 100%;
    transform: translateX(10%) translateY(-50%);
  }
  60%, 80% {
    left: 48%;
    transform: translateX(-50%) translateY(-50%);
  }
  70%, 90% {
    left: 52%;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
